<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-col">
                <h3>关于网站</h3>
                <p>这是一个集实用工具、趣味游戏和各种测试于一体的个人网站，为你带来丰富的在线体验。</p>
                <div class="social-links">
                    <a href="#" class="social-link"><i class="fa fa-github"></i></a>
                    <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            
            <div class="footer-col">
                <h3>快速链接</h3>
                <ul class="footer-links">
                    <li class="footer-link"><a href="../index.html">首页</a></li>
                    <li class="footer-link"><a href="../modules/tools.html">实用工具</a></li>
                    <li class="footer-link"><a href="../modules/games.html">趣味游戏</a></li>
                    <li class="footer-link"><a href="../modules/tests.html">趣味测试</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h3>工具分类</h3>
                <ul class="footer-links">
                    <li class="footer-link"><a href="#">计算工具</a></li>
                    <li class="footer-link"><a href="#">文本工具</a></li>
                    <li class="footer-link"><a href="#">图片工具</a></li>
                    <li class="footer-link"><a href="#">网络工具</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h3>联系我们</h3>
                <ul class="footer-links">
                    <li class="footer-link"><a href="#"><i class="fa fa-envelope mr-2"></i> 邮箱联系</a></li>
                    <li class="footer-link"><a href="#"><i class="fa fa-comment mr-2"></i> 留言反馈</a></li>
                    <li class="footer-link"><a href="#"><i class="fa fa-question-circle mr-2"></i> 帮助中心</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2023 个人网站 - 保留所有权利</p>
        </div>
    </div>
</footer>
    